@import url("purecss/build/base.css");
@import url("purecss/build/forms.css");
@import url("purecss/build/buttons.css");
@import url("purecss/build/grids.css");
@import url("purecss/build/grids-responsive.css");

main {
  padding-left: 2rem;
  padding-right: 2rem;
}

.container {
  margin: 1rem auto;
  max-width: 64rem;
}

.scroll-list {
  max-height: 32rem;
  overflow-y: auto;
}

.border {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0 1rem;
}

.success {
  border-color: limegreen;
}

.warning {
  border-color: orange;
}

.error {
  border-color: coral;
}
