@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  section {
    @apply mx-auto my-4 max-w-5xl;
  }
  button {
    @apply rounded border border-gray-400 px-4 py-2 outline-none;
    @apply hover:bg-gray-100 focus:bg-gray-100 active:bg-gray-200;
    @apply disabled:cursor-not-allowed disabled:bg-gray-300 disabled:opacity-50;
  }
  select,
  input:not([type]),
  input[type="text"],
  input[type="number"] {
    @apply w-full appearance-none rounded border border-gray-300 bg-transparent p-2 outline-none;
    @apply invalid:border-red-300 focus:border-blue-500 focus:invalid:border-red-500;
  }
  label:has(input[type="checkbox"]) {
    @apply block;
  }
  input[type="checkbox"] {
    @apply h-4 w-4 accent-blue-500;
    @apply focus:outline-blue-500;
  }
  img {
    @apply mx-auto h-auto max-w-full border border-gray-300;
  }
  table {
    @apply w-full table-fixed border-separate border-spacing-0;
    @apply overflow-hidden break-words rounded border border-gray-300;
    > tr:last-child > td,
    > * > tr:last-child > td {
      @apply border-b-0;
    }
    > * > th,
    > * > * > th,
    > * > td,
    > * > * > td {
      @apply p-2 text-center;
      @apply border-r border-gray-300 last:border-r-0;
    }
    > * > th,
    > * > * > th {
      @apply border-b-2;
    }
    > * > td,
    > * > * > td {
      @apply border-b;
    }
  }
}
@layer utilities {
  .scrollbar-none {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }
}
